.details-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  width: 90%;
  max-width: 1110px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.book-details-failure-img {
  width: 250px;
  height: 120px;
}
@media screen and (min-width: 768px) {
  .book-details-failure-img {
    width: 450px;
    height: 230px;
  }
}

.failure-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #475569;
  margin-top: 20px;

  text-align: center;
}

@media screen and (min-width: 768px) {
  .failure-text {
    font-size: 16px;
    line-height: 24px;
  }
}

.book-details-try-again-btn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background: #0284c7;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
}
@media screen and (min-width: 768px) {
  .book-details-try-again-btn {
    font-size: 16px;
    padding: 12px 24px;
  }
}

.details-container {
  padding: 30px;
  border-radius: 16px;
  margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .details-container {
    background-color: #ffffff;
    margin-bottom: 100px;
    padding: 50px;
    box-shadow: 0px 0px 1px #28293d, opx 1px 2px #606170;
  }
}

.details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .details-content {
    flex-direction: row;
    align-items: center;
  }
}

.book-cover {
  width: 220px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .book-cover {
    width: 200px;
  }
}

.book-details {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .book-details {
    margin-left: 30px;
  }
}

.book-details-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #334155;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .book-details-heading {
    text-align: left;
    font-size: 24px;
    line-height: 32px;
  }
}

.book-details-author {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .book-details-author {
    text-align: left;
    font-size: 18px;
    line-height: 32px;
  }
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .rating-container {
    justify-content: flex-start;
  }
}

.book-details-rating {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
  margin: 0px;
  margin-right: 10px;
}
.favorite-icon-button {
  border: none;
  background-color: #ffffff;
}

.book-details-description {
  font-family: 'Roboto';
  font-size: 16px;
  color: #d68a27;
}
.book-details-read-status {
  font-family: 'Roboto';
  font-size: 16px;
  color: #b30c1d;
}

.book-details-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.add-cart-button {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 700;
  padding: 6px 12px;
  color: #ffffff;
  background-color: #0284c7;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  height: 36px;
  width: 100px;
  margin-left: 20px;
}
/* dark theme */

.book-item-details-dark-bg {
  background-color: #272727;
}

.book-details-heading-dark {
  color: #ffffff;
}

.book-details-description-dark {
  color: #8accd4;
}

.dark-theme-favorite {
  border: none;
  color: #ffffff;
  background-color: #272727;
}
